.Left.sun{
    color: orange;
}
.Left.moon{
    color: blue;
}
.text{
    display: inline;
    padding-left: 15px ;
}
.time-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.day{
    background-color: #fffd82;
}
.night{
    background-color: cadetblue;
}